{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-external-helpers", "@babel/plugin-transform-runtime"],

  "env": {
    "test": {
      "presets": [["@babel/preset-env"]],
      "plugins": []
    }
  }
}
