body {
  margin: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
}

nav {
  color: white;
  background: #ca4c4c;
}

#swcraft-communities #sidenav-overlay,
#swcraft-communities .side-nav {
  top: 56px;
}

#swcraft-title {
  font-size: 16px;
  line-height: initial;
  padding-top: 11px;
}

#map {
  width: 100%;
  position: absolute;
  top: 56px;
  z-index: -1;
  bottom: 0px;
}

.community-popup h1 {
  margin-top: 10px;
  font-size: 1.45rem;
  text-decoration: underline;
}

.community-popup p {
  font-size: 1.1rem;
}

@media only screen and (min-width: 601px) {
  #swcraft-title {
    font-size: 2.1rem;
    line-height: 56px;
    padding: 0;
  }

  #map {
    top: 64px;
  }
}
