@mixin desktop {
  @media (min-width: 601px) {
    @content;
  }
}

body {
  margin: 0;
  overflow: hidden;
  color: black;
}

nav {
  color: white;
  background: #ca4c4c;
}

strong {
  // materialize makes this 500 -.-
  font-weight: bold !important;
}

#swcraft-communities {
  #sidenav-overlay,
  .side-nav {
    top: 56px;
  }
}

.nowrap {
  white-space: nowrap;
}

#swcraft-title {
  font-size: 16px;
  line-height: 38px;
  padding-top: 11px;
  @include desktop {
    font-size: 2.1rem;
    line-height: 64px;
    padding: 0;
  }
}

#map-container {
  position: absolute;
  width: 100%;
  top: 56px;
  bottom: 0;
  z-index: -1;
  @include desktop {
    top: 64px;
  }

  #conferences-overlay {
    display: none;
    @include desktop {
      display: block;
    }

    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    padding: 2px 10px;

    h2 {
      font-size: 1.4rem;
    }
  }

  #map {
    width: 100%;
    height: 100%;

    input {
      box-sizing: border-box !important;

      &:focus {
        box-shadow: none;
        outline: thin-dotted\8;
        border-bottom: none;
      }
    }

    .mapboxgl-ctrl-top-left {
      .mapboxgl-ctrl-geolocate {
        height: 40px;
        width: 40px;
      }
      display: flex;
      left: 10px;
      top: 10px;
      .mapboxgl-ctrl, .mapboxgl-ctrl-group {
        margin: 0 10px 0 0;
        float: none;
        display: inline-block;
      }
    }
  }
}

#imprint-link {
  font-weight: normal;
  color: black;
  display: none;
  @include desktop {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
}

.popup {
  max-width: 70vw;

  h1 {
    margin-top: 10px;
    font-size: 1.45rem;
    text-decoration: underline;
  }

  img.popup-icon {
    float: right;
    margin: 5px;
    margin-left: 30px;
  }

  p {
    font-size: 1.1rem;
  }
}
